[submodule "front"]
	path = front
	url = git@github.com:toriaezu-yattemitai/excuse-by-pollen-front.git
[submodule "back"]
	path = back
	url = git@github.com:toriaezu-yattemitai/excuse-by-pollen-back.git
